.__portfolio{
    margin-top: 90px;
    height: 520px;
    display: flex;
    font-family: 'Public Sans', sans-serif;
    color: #33323D;
    line-height: 1.5;
    
}
.__portfolio .text__about-me > .btn__about-me{
    margin: 0;
}

.img__portfolio img{
    width: 500px;
    height: 500px;
}

.text__about-me h2{
    font-weight: bold;
    font-size: 40px;
    line-height: 42px;
    font-family: 'Ibarra Real Nova';
   
}

.second .text__about-me > .btn__about-me{
    margin: 0;
}

.second .text__about-me{
    margin-left: -60px;
}

